﻿<!DOCTYPE html>
<html lang="en" class="desktop landscape">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="telephone=no" name="format-detection">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <title>Flussig</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">

    <!-- Links -->
    <link href="css/search.css" rel="stylesheet">
    <link href="css/owl-carousel.css" rel="stylesheet">
    <link href="css/jquery.fancybox.css" rel="stylesheet">
    <link href="css/camera.css" rel="stylesheet">
    <link href="css/mailform.css" rel="stylesheet" />

    <!-- Flussig -->
    <link rel="stylesheet" href="css/flussig.css">


    <!--JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>

     <script>
         $(function () {
             $("#includedContent").load("Content.html");
         });
    </script>


    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src="js/device.min.js"></script>
    <!--    <style type="textcss">
        .fancybox-margin
        {
            margin-right: 17px;
        }
    </style>  -->
</head>
<body>
    <div class="page">
        <!--========================================================
                              HEADER
    =========================================================-->
        <header>
            <div id="stuck_container" class="stuck_container">
                <div class="container">

                    <div class="navbar-header">
            <h1 class="navbar-brand">
                <a data-type='rd-navbar-brand' href="/">
                    Flussig<small>Flex Solutions</small>
                </a>
            </h1>
        </div>


                    <nav class="navbar navbar-default navbar-static-top ">

            <ul class="navbar-nav sf-menu" data-type="navbar">
                <li class="active"">
                    <a href="/">Главная</a>
                </li>
                <li class="dropdown ">
                    <a href="/o-nas">О нас</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/o-nas/serdar-kurbanov">Сердар</a>
                        </li>
                        <li>
                            <a href="/o-nas/evgeniy-kholmov">Евгений</a>
                        </li>
                
                    </ul>
                </li>
                <li class="">
                    <a href="/telescope">Telescope</a>
                </li>
                <li class="">
                    <a href="/blog">Блог</a>
                </li>
                <li class="">
                    <a href="/kontakty">Контакты</a>
                </li>
            </ul>

        </nav>


            

                </div>

        

            </div>
        </header>


        <!--========================================================
                              CONTENT
    =========================================================-->
    <main id="includedContent">
    </main>
    </div>

    <!--========================================================
                            FOOTER
  =========================================================-->

    <footer class="center767">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h1 class="navbar-brand">
                        <a href="/">Flussig</a>
                    </h1>
                    <p class="copy">
                        &#169; <span id="copyright-year"></span>
                        <a href="/policy">Правовая информация</a>
                        <!-- {%FOOTER_LINK} -->
                    </p>
                    <ul class="inline-list">
                        <li><a href="#" class="fa fa-youtube wow fadeInLeft" data-wow-delay=".3s">youtube</a></li>
                        <li><a href="#" class="fa fa-google-plus-square wow fadeInLeft" data-wow-delay=".75s">google</a></li>
                        <li><a href="#" class="fa fa-tumblr-square wow fadeInLeft" data-wow-delay="0s">tumblr</a></li>
                        <li><a href="#" class="fa fa-twitter-square wow fadeInLeft" data-wow-delay=".15s">twitter</a></li>                    
                        <li><a href="#" class="fa fa-rss wow fadeInLeft" data-wow-delay=".45s">rss</a></li>
                        <li><a href="#" class="fa fa-facebook-square wow fadeInLeft" data-wow-delay=".6s">facebook</a></li>                    
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="map">
                        <div class="map_model" id="google-map">
                            <div style="overflow: hidden; width: 570px; height: 175px;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735705.6419598394!2d-89.01098206032714!3d42.33123818300107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880efc112409fa23%3A0xf7d42fea85767df4!2sRd+a-1%2C+Batavia%2C+IL+60510%2C+USA!5e0!3m2!1sen!2sru!4v1448220406200" width="570" height="175" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <ul class="map_locations">
                            <li data-y="40.643180" data-x="-73.9874068">
                                <p>Rd a-1, Batavia, IL 60510, USA <span> +1 434 422-0459</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tm-scripts.js"></script>
</body>
</html>

