﻿<div style="height: 20px; background: #fff;"></div>
<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 1 - Список на фоне</h4>
    <h5>Используется для перечисления возможностей или ссылок на другие страницы. Можно использовать разные фоны.</h5>
</section>

<section class="well2 bg03">
    <div class="container">
        <h2 class="text-center">International Business Council </h2>

        <p class="text-center txt-sec lead">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium,totam rem aperiam,<br>
            eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae
                    vitae dicta
               
        </p>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12">
                <ul class="marked-list">
                    <li class="wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;"><a href="#">Promote the development of trade and business opportunities for WA</a></li>
                    <li class="wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;"><a href="#">Provide a forum for the exchange of information between its members</a></li>
                    <li class="wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;"><a href="#">Enhance co-operation between the members </a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <ul class="marked-list">
                    <li class="wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;"><a href="#">Assist members access available grant schemes </a></li>
                    <li class="wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;"><a href="#">Provide a focal point for government, business and overseas visitors wanting
                                to explore international trade and commerce opportunities.</a></li>
                </ul>
            </div>
        </div>
        <div class="line"></div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 2 - Блок с видео</h4>
    <h5>Предлагает ссылку на видео.</h5>
</section>

<section class="well7 bg01">
    <div class="container ">
        <h3 class="text-center wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;">Mission statement</h3>
        <p class="lead text-center wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;">
            The International Business Council Purpose:<br>
            Introduce local Business Leaders to International Foreign Businesses in order to generate profitable business relationship.
        </p>
        <div class="row offs2">
            <div class="col-md-6 col-sm-6 col-xs-12 center767">
                <h4 class="offs1">Temporibus autem quibusd</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quasmolestias excepturi sint occae cati cupiditate non provident, similique sunt in culpa qui officia.</p>
                <a href="#" class="btn btn-lg">view all videos</a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight animated" style="visibility: hidden; animation-name: fadeInRight;">
                <a href="//player.vimeo.com/video/37582125?wmode=transparent" class="thumb video fancybox.iframe">
                    <img alt="" src="images/page1_img04.jpg">
                    <span class="thumb_overlay"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 3 - Текст с изображением</h4>
    <h5>То же, что и Блок 2, но не предлагает видео, а иммет простое изображение. Может иметь текст и спсиок.</h5>
</section>

<section class="well9 center991">
    <div class="container">
        <h3 class="text-center">About membership</h3>

        <p class="lead">
            Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Nulla dui.
            <br>
            Fusce feugiat malesuada odio. Morbi nunc odio, gravida at,
                    cursus nec lorem. Maecenas tristique orci ac sem.
        </p>

        <div class="row offs3">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p>
                    Deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                            expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                            impedit quo minus id quod maxime placeat facere possimu. Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit. Praesent vestibulum molestie lacus.
                </p>
                <ul class="marked-list offs5 text-left">
                    <li>Sociis natoque penatibus et magnis dis parturient Montes nascetur</li>
                    <li>Ridiculus mus nlla dui fusce feugiat malesuada odio orbi nunc</li>
                    <li>Odio gravida at cursus nec luctus a lorem maecenas tristique orci</li>
                    <li>Pharetra magna donec accumsan malesuada orci donec sit amet</li>
                    <li>Eros usce suscipit varius mi cum sociis natoque penatibus et magnis dis</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <img alt="" src="images/page5_img01.jpg">
            </div>
        </div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 4 - Текст с изображением слева</h4>
    <h5>То же, что и Блок 2, но изображение слева.</h5>
</section>

<section class="well9 center991">
    <div class="container">
        <h3 class="text-center">About us</h3>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.<br>
            Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.
        </p>
        <div class="row offs3">
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft animated" style="visibility: hidden; animation-name: fadeInLeft;">
                <img alt="" src="images/page2_img01.jpg">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quasmolestias excepturi sint occae cati cupiditate non provident, similique sunt in culpa qui officia.</p>
                <p class="offs4">Deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
                <ul class="marked-list offs5 text-left">
                    <li><a href="#">Donec sit amet eros lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></li>
                    <li><a href="#">Mauris fermentum dictum magna sed laoreet aliquam leo tellus dolor</a></li>
                    <li><a href="#">Dapibus eget elementum vel cursus eleifend elit aenean auctor wisi et urna</a></li>
                </ul>
                <a href="#" class="btn btn-default">Read More</a>
            </div>
        </div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 5 - Выделенный текст с изображением</h4>
    <h5>То же, что и Блок 2, но на сером фоне.</h5>
</section>

<section class="bg04 well9 center767">
    <div class="container">
        <h3 class="text-center">Did you know?</h3>

        <p class="lead">
            Cum sociis natoque penatibus et magnis dis parturient.montes, nascetur ridiculus mus.
                    Nulla dui. Fusce feugiat malesuada odio.<br>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Praesent vestibulum molestie lacus.
        </p>

        <div class="row offs3">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h4 class="offs1">Praesent vestibulum molestie lac</h4>

                <p>
                    Voluptatum deleniti atque corrupti quos dolores et quasmolestias excepturi sint occae cati
                            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                            est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                </p>
                <a href="#" class="btn btn-lg">read more</a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img alt="" src="images/page4_img04.jpg">
            </div>
        </div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 6 - Список возможностей</h4>
    <h5>Список страниц с анонсами. Подходит как список дополнительных возможностей. Иконки могут быть разные.</h5>
</section>

<section class="bg01 well7 text-center">
    <div class="container wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;">
        <h3>What we can offer</h3>
        <p class="lead">
            Cum sociis natoque penatibus et magnis dis parturient.montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.<br>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.
        </p>
        <div class="row offs6">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-comments"></i></a>
                    <h5>Morbi nunc odio, gravida at cursus nec luctus lorem</h5>
                    <p>Asum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation consectetuer adipiscing elit laboris nisi ut.  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-briefcase"></i></a>
                    <h5>Aenean auctor wisi et urna. Aliquam erat volut</h5>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor laoreet aliquam incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-users"></i></a>
                    <h5>Duis ultricies pharetra magna onec accumsan malesu</h5>
                    <p>Tempor incididunt ut labore aliquam leo tellusaliquam leo tet dolore magna aliqua. Ut enim ad minim veniam, exercitation laboris nisi ut.  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat borbi nunc odio, gravida at, cursus.</p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 7 - Расширенный список возможностей</h4>
    <h5>То же, что и блок 6, но с четырьмя элементами.</h5>
</section>

<section class="well7 text-center">
    <div class="container">
        <h3>Main services</h3>

        <p class="lead">
            Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                    Fusce suscipit varius mi.<br>
            Cum sociis natoque penatibus et magnis dis parturientmontes, nascetur
                    ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
        </p>

        <div class="row offs6">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft animated" style="visibility: hidden; animation-name: fadeInLeft;">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-star"></i></a>
                    <h5>Lorem ipsum dolor amet consecte</h5>

                    <p>
                        Asum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, exercitation laboris varius nisi ut
                                aliquip ex ea commodo consequat.
                    </p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft animated" style="visibility: hidden; animation-name: fadeInLeft;">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-comments"></i></a>
                    <h5>Praesent vestibulum molestie lacus </h5>

                    <p>
                        Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, exercitation laboris si ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in repreh.
                    </p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight animated" style="visibility: hidden; animation-name: fadeInRight;">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-thumbs-up"></i></a>
                    <h5>Sed ut perspiciatis unde omnis iste </h5>

                    <p>
                        Ut enim ad minim veniam, exercitation laboris nisi ut aliquip ex ea. Duis aute irure
                                dolor in molestie lacus reprehenderit in voluptate velit esse cillum dolore eu consequat
                                as orrupti quos dolores et quas.
                    </p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight animated" style="visibility: hidden; animation-name: fadeInRight;">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-clock-o"></i></a>
                    <h5>Nostrum exercitatio nem ullam</h5>

                    <p>
                        Orrupti quos dolores et quas molestias excepturi sint occaecati cupificia deserunt
                                mollitia molestie lacus animi, id est laborum et dolorum fuga. Et harum quidem rerum
                                facilisest et expedita distinctio.
                    </p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 8 - Выделенный список возможностей</h4>
    <h5>То же, что и блок 6, но на сером фоне.</h5>
</section>

<section class="bg04 well7">
    <div class="container wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
        <h3 class="text-center">Some basic benefits of membership</h3>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-cloud-upload"></i></a>
                    <h5>Dolor sit amet consectetuer adipiscin enean auctor</h5>

                    <p class="ins1">
                        Ut enimad minim veniam, exercitation laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderitn voluptate velit esse cillum dolore eu
                                fugiat. Donec accumsan malesuada orci. Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit.
                    </p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-user"></i></a>
                    <h5>Pharetra magna onecaccum cum sociis natoque</h5>

                    <p class="ins1">
                        Consectetur adipisicing elit, sed do eiusmod tempo rincididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, exercitation laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure dolor in reprehenderit in volupt ate velit esse.
                                cillum dolore eu fugiat.
                    </p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="box01">
                    <a class="circle" href="#"><i class="fa fa-umbrella"></i></a>
                    <h5>Dictum magna laoreet aliqua feugiat malesuada odio</h5>

                    <p class="ins1">
                        Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                exercitation laboris nisi ut. aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat borbi nunc odio, gravida
                                at, cursus.
                    </p>
                    <a href="#" class="btn btn-default">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 9 - Список ссылок с фотографиями</h4>
    <h5>Список ссылок на публикации с анонсами и фото.</h5>
</section>

<section class="well9 text-center">
    <div class="container">
        <h3>Our expert team</h3>
        <div class="row">
            <div data-wow-delay=".6s" class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft animated" style="visibility: hidden; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <div class="thumbnail-1 thumbnail3">
                    <img alt="" src="images/page2_img02.jpg">
                    <div class="caption">
                        <h5>
                            <a href="#">Mark Johnson</a></h5>
                        <p>Consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni.</p>
                    </div>
                </div>
            </div>
            <div data-wow-delay=".4s" class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft animated" style="visibility: hidden; animation-delay: 0.4s; animation-name: fadeInLeft;">
                <div class="thumbnail-1 thumbnail3">
                    <img alt="" src="images/page2_img03.jpg">
                    <div class="caption">
                        <h5>
                            <a href="#">Bradley Grosh</a></h5>
                        <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exer citation aboris nisi ut aliquim.</p>
                    </div>
                </div>
            </div>
            <div data-wow-delay=".2s" class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft animated" style="visibility: hidden; animation-delay: 0.2s; animation-name: fadeInLeft;">
                <div class="thumbnail-1 thumbnail3">
                    <img alt="" src="images/page2_img04.jpg">
                    <div class="caption">
                        <h5>
                            <a href="#">Patrick Pool</a></h5>
                        <p>Labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation aboris nisi ut aliquim. ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <div data-wow-delay="0s" class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft animated" style="visibility: hidden; animation-delay: 0s; animation-name: fadeInLeft;">
                <div class="thumbnail-1 thumbnail3">
                    <img alt="" src="images/page2_img05.jpg">
                    <div class="caption">
                        <h5>
                            <a href="#">John McCoist</a></h5>
                        <p>Ut enim ad minim veni am, exercitation aboris nisi ut aliquim. ex ea commodo conse quat. Duis aute irure dolor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 10 - Крупный список публикаций</h4>
    <h5>То же, что и 9, но из трех элементов с крупными фото</h5>
</section>

<section class="bg01 well7 well7_ins center991">
    <div class="container wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;">
        <h3 class="text-center">Services overview</h3>

        <div class="row offs6">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail-1 thumbnail4">
                    <img alt="" src="images/page3_img01.jpg">

                    <div class="caption caption_mod">
                        <h5><a href="#">Morbi nunc odio, gravida at cursus</a></h5>

                        <p>
                            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua. Ut enim ad minim veniam, laboris nisi ut. aliquip ex ea commodo
                                    consequat. Duis aute irure dolor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail-1 thumbnail4">
                    <img alt="" src="images/page3_img02.jpg">

                    <div class="caption caption_mod">
                        <h5><a href="#">Lorem ipsum dolor sit amet, conse</a></h5>

                        <p>
                            Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    exercitation laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor
                                    in voluptate velit esse.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="thumbnail-1 thumbnail4">
                    <img alt="" src="images/page3_img03.jpg">

                    <div class="caption caption_mod">
                        <h5><a href="#">Praesent vestibulum molestie lacus</a></h5>

                        <p>
                            Ut enim ad minim veniam, nisi utaliquip ex ea commodo consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse. cillum dolore eu fugiat enean auctor
                                    wisi et urna.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 11 - Список с фото в кружках</h4>
    <h5>То же, что и 9, но элементы идут по два, фото в кружках.</h5>
</section>

<section class="bg02 well9 center991">
    <div class="container wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;">
        <h3 class="text-center">TESTIMONIALS</h3>
        <div class="row offs3">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <blockquote class="quote">
                    <div class="quote_aside">
                        <img alt="" src="images/page2_img06.jpg" class="img_circle">
                    </div>
                    <div class="quote_cnt__no-flow">
                        <p>" At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quasmolestias excepturi sint occae cati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga..."</p>
                        <h5><cite>Jessica Priston </cite></h5>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <blockquote class="quote">
                    <div class="quote_aside">
                        <img alt="" src="images/page2_img07.jpg" class="img_circle">
                    </div>
                    <div class="quote_cnt__no-flow">
                        <p>" Praesentium voluptatum deleniti atque corrupti quos dolores et quasmolestias excepturi sint occae cati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore..."</p>
                        <h5><cite>Sam Kromstain </cite></h5>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 12 - Выделенный список</h4>
    <h5>Список на сером фоне</h5>
</section>

<section class="bg02 well9">
    <div class="container wow fadeInUp animated" style="visibility: hidden; animation-name: fadeInUp;">
        <h3 class="text-center">other services</h3>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="marked-list marked-list_mod">
                    <li>
                        <a href="#">Donec sit amet eros lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="#">Consectetuer adipiscing mauris fermentum dictum</a>
                    </li>
                    <li>
                        <a href="#">Sed laoreet aliquam leo ut tellus dolor dapibus</a>
                    </li>
                    <li>
                        <a href="#">Eget elementum vel cursus eleifend elit</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="marked-list marked-list_mod">
                    <li>
                        <a href="#">Morbi nunc odio gravida at cursus nec luctus a lorem</a>
                    </li>
                    <li>
                        <a href="#">Maecenas tristique orci uis ultricies pharetra magna</a>
                    </li>
                    <li>
                        <a href="#">Donec accumsan malesuada orci onec sit amet eros</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum dolor sit amet consectetuer elit</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="marked-list marked-list_mod">
                    <li>
                        <a href="#">Duis ultricies pharetra magna donec accumsan males</a>
                    </li>
                    <li>
                        <a href="#">Donec sit amet lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="#">Consectetuer adipiscing mauris fermentum dictum</a>
                    </li>
                    <li>
                        <a href="#">Sed laoreet aliquam leo tellus dolor dapibus eget</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 13 - Текст на тёмном фоне</h4>
    <h5>Светлый текст на темном фоне для служебной информации</h5>
</section>

<section class="bg02 well9 white center991">
    <div class="container wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
        <h3 class="text-center white">Membership FAQ's</h3>
        <h5 class="white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus?</h5>
        <p class="txt2 offs7">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor. in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet.</p>
        <h5 class="white">Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</h5>
        <p class="txt2 offs7">Exercitation laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor. in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. </p>
        <h5 class="white">Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.?</h5>
        <p class="txt2 offs7">Duis aute irure dolor. in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Fusce suscipit varius mi. Cum socis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatmalesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet.</p>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 14 - Центрированный текст</h4>
    <h5>Просто текст с выравниванием по центру</h5>
</section>

<section class="terms well9">
    <div class="container">
        <h3 class="text-center">Privacy policy</h3>

        <p class="lead">
            Fusce feugiat malesuada odio. Morbi nunc odio, gravid, cursus nec lorem. Maecenas
                    tristique orci ac sem.<br>
            Duis ultricies pharetra magna.Donec accumsan malesuada orci. Donec sit
                    amet eros.Aenean nonummy hendrerit mauris.
        </p>

        <h5>Fermentec in velit vel ipsum auctinar. Proin ullamcorpr urna et felilum iaculis lacinia est.</h5>

        <p>
            Sit aspernatur aut odit aut fugit sed quia consequuntur magnidolores eos qui ratione voluptatem sequi
                    nesciunt. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                    voluptatem. Ut enim ad minima veniam quis nostrum exercitationem ullam corporis suscipit laboriosam
                    nisi ut aliquid ex ea commodi consequatuis autem vel eum iure reprehenderit qui in ea voluptate
                    velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo voluptas nulla
                    pariatur. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu
                    lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.
                    Aenean nonummy hendrerit m
        </p>

        <p>
            <a href="mailto:#" class="text-primary">privacy@demolink.org</a>
        </p>
    </div>
</section>

<section class="well2 bg02" style="text-align: center; background: #000; margin: 20px 0;">
    <h4>Блок 15 - Текст</h4>
    <h5>Просто текст</h5>
</section>

<section class="text well9">
    <div class="container">
        <h3 class="text-center">Aenean nonummy hendrerit</h3>
        <h5>Fermentec in velit vel ipsum auctinar. Proin ullamcorpr urna et felilum iaculis lacinia est.</h5>

        <p>
            Sit aspernatur aut odit aut fugit sed quia consequuntur magnidolores eos qui ratione voluptatem sequi
                    nesciunt. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                    voluptatem. Ut enim ad minima veniam quis nostrum exercitationem ullam corporis suscipit laboriosam
                    nisi ut aliquid ex ea commodi consequatuis autem vel eum iure reprehenderit qui in ea voluptate
                    velit esse quam nihil molestiae consequatur vel illum qui dolorem eum fugiat quo voluptas nulla
                    pariatur. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu
                    lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.
                    Aenean nonummy hendrerit m
        </p>
    </div>
</section>
