﻿.th, .td{
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.th {
    border-bottom: 2px solid #ddd;
    border-top:0;
    vertical-align: bottom;
    font-weight:bold;
}