﻿
/*================    Text     =================*/
.text {
  font-size: 12px;
  line-height: 22px;
}
.text p {
  font-size: 12px;
  line-height: 22px;
}
.text p + h5, .text p + h4 {
  margin-top: 78px;
}
.text p.lead + h5, .text p.lead + h4 {
  margin-top: 40px;
}
.text h5 + p, .text h4 + p {
  margin-top: 23px;
}
.text p + p {
  margin-top: 18px;
}
.text a:hover {
  color: #333;
}
