﻿div.container div.center_column div.log .login_button
{	
	background:url('i/login_button_bg.gif') no-repeat scroll 0 0;	
	margin-right:8px;
}
div.container div.center_column div.log .login_button:hover
{
	cursor:pointer;
}
div.container div.center_column div.log .login_table
{
	background-image:url('i/login_bg_yellow.png');
	height:178px;
	margin:40px 0 0 20px;
	width:340px;
}
div.container div.center_column div.log table input[type="text"], table input[type="password"]
{
	width:93%;
}
html* div.container div.center_column div.log table table input[type="text"], html* table input[type="password"]
{
	width:160px;
}
div.container div.center_column div.log .login_label
{
	padding-left:15px;
}
div.container div.center_column div.log .login_checkbox
{
	text-align:right;
	padding:10px 10px 0 0;
}
div.container div.center_column div.log .login_tittle
{
	padding-bottom:20px;
	padding-top:10px;
}
html* div.container div.center_column div.log .login_tittle
{
	padding-bottom:17px;
}
*html div.container div.center_column div.log .login_table
{
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/login_bg_yellow.png', sizingMethod='scale');
}
*html div.container div.center_column div.log .login_label
{
	padding-left:9px;
}
*html div.container div.center_column div.log table input
{
	position:relative;
}