/*@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Istok+Web:400,700|Roboto+Condensed:400,700);*/
/*==================  Panel Menu  ======================*/
#advanced {
  min-height: 50px !important;
  height: 50px !important;
  z-index: 10300 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: #563D7C !important;
  border-radius: 0 !important;
  max-width: 100%;
  float: none !important;
}
#advanced:before,
#advanced:after {
  display: none;
}
#advanced .navbar-header {
  display: block!important;
  color: #fff !important;
  padding: 0 !important;
  background: #563D7C !important;
  position: static !important;
  margin: 0 !important;
  max-width: none!important;
  width: auto!important;
}
#advanced .navbar-nav {
  text-transform: none !important;
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 6px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0!important;
  padding-left: 0!important;
  border-radius: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#advanced .navbar-nav > li {
  display: block !important;
  width: auto !important;
  padding: 0 !important;
}
#advanced .navbar-nav > li.divider-vertical {
  display: none !important;
  border-radius: 0 !important;
}
#advanced .navbar-nav > li > a {
  position: relative !important;
  display: block !important;
  padding: 10px 15px !important;
  text-transform: none !important;
  font-weight: 400 !important;
  font-style: normal !important;
  border-radius: 0 !important;
}
#advanced .navbar-nav > li + li {
  margin-left: 0;
  border: none;
}
#advanced .navbar-nav .dropdown-menu {
  margin: 0 !important;
  transform: none !important;
  box-shadow: none !important;
  border: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 0 !important;
}
#advanced .navbar-nav .dropdown-menu li {
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: block !important;
  border-radius: 0 !important;
}
#advanced .navbar-nav .dropdown-menu li a {
  display: block !important;
  font-weight: 400 !important;
  font-style: normal !important;
  border-radius: 0 !important;
}
#advanced nav li,
#advanced .nav li,
#advanced .navbar-nav li,
#advanced nav a,
#advanced .nav a,
#advanced .navbar-nav a {
  border: none !important;
  box-shadow: none !important;
}
#advanced nav li:before,
#advanced .nav li:before,
#advanced .navbar-nav li:before,
#advanced nav a:before,
#advanced .nav a:before,
#advanced .navbar-nav a:before,
#advanced nav li:after,
#advanced .nav li:after,
#advanced .navbar-nav li:after,
#advanced nav a:after,
#advanced .nav a:after,
#advanced .navbar-nav a:after {
  display: none !important;
}
#advanced nav li.glyphicon-home:after,
#advanced .nav li.glyphicon-home:after,
#advanced .navbar-nav li.glyphicon-home:after,
#advanced nav a.glyphicon-home:after,
#advanced .nav a.glyphicon-home:after,
#advanced .navbar-nav a.glyphicon-home:after {
  display: inline-block !important;
  content: "\e021" !important;
  color: inherit !important;
  background: inherit !important;
  font-size: inherit !important;
}
#advanced nav li.glyphicon-home:after:hover,
#advanced .nav li.glyphicon-home:after:hover,
#advanced .navbar-nav li.glyphicon-home:after:hover,
#advanced nav a.glyphicon-home:after:hover,
#advanced .nav a.glyphicon-home:after:hover,
#advanced .navbar-nav a.glyphicon-home:after:hover {
  top: auto!important;
  left: auto!important;
  bottom: auto!important;
  right: auto!important;
  width: auto!important;
  height: auto!important;
  font-size: inherit!important;
}
#advanced nav li.glyphicon-home:before,
#advanced .nav li.glyphicon-home:before,
#advanced .navbar-nav li.glyphicon-home:before,
#advanced nav a.glyphicon-home:before,
#advanced .nav a.glyphicon-home:before,
#advanced .navbar-nav a.glyphicon-home:before {
  display: none!important;
}
#advanced nav li span:not([class="caret"]),
#advanced .nav li span:not([class="caret"]),
#advanced .navbar-nav li span:not([class="caret"]),
#advanced nav a span:not([class="caret"]),
#advanced .nav a span:not([class="caret"]),
#advanced .navbar-nav a span:not([class="caret"]) {
  display: none !important;
}
@media (min-width: 768px) {
  #advanced {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
  #advanced .navbar-toggle {
    display: none;
  }
  #advanced .collapse {
    display: block;
  }
  #advanced .dropdown-menu {
    padding: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    box-shadow: none !important;
    text-align: left !important;
    top: 98% !important;
    left: 0 !important;
    text-transform: none !important;
  }
  #advanced .dropdown-menu:before,
  #advanced .dropdown-menu:after {
    display: none !important;
  }
  #advanced .dropdown-menu li + li {
    border: none !important;
    box-shadow: none !important;
  }
  #advanced .dropdown-menu li:before,
  #advanced .dropdown-menu li:after {
    display: none !important;
  }
  #advanced .dropdown-menu li a:before,
  #advanced .dropdown-menu li a:after {
    display: none !important;
  }
  #advanced .dropdown-menu li a {
    text-transform: none !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    padding: 7px 22px !important;
    box-shadow: none !important;
    border: none !important;
  }
  #advanced .dropdown-menu li {
    border: none !important;
    box-shadow: none !important;
  }
}
@media (max-width: 767px) {
  #panel {
    right: 14px;
    position: fixed;
    top: 6px;
    width: auto;
    z-index: 9999999999999;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #panel #advanced {
    display: block;
  }
  #panel .navbar-inverse {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }
  #panel .bs-docs-nav {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }
  #panel .bs-docs-nav .navbar-nav {
    display: block !important;
  }
  #panel .bs-docs-nav .navbar-nav li {
    position: static !important;
  }
  #panel .bs-docs-nav .navbar-header .navbar-toggle {
    border: none !important;
    padding: 6px 7px !important;
    margin: 0px !important;
    float: none !important;
    position: absolute !important;
    top: -3px !important;
    right: -1px !important;
    background: transparent !important;
    box-shadow: none !important;
    height: 48px;
    width: 28px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #panel .bs-docs-nav .navbar-header .navbar-toggle .icon-bar {
    display: block !important;
    width: 4px !important;
    height: 4px !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    margin-left: auto;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #panel .bs-docs-nav .navbar-header .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px !important;
  }
  #panel .bs-docs-nav .navbar-header .navbar-toggle:hover {
    background: transparent !important;
  }
  #panel .bs-docs-nav .navbar-header .navbar-toggle:active {
    background: #563D7C !important;
  }
  #panel .bs-docs-nav .navbar-header .navbar-toggle:focus {
    background: transparent !important;
    outline: 0;
  }
  #panel #advanced .navbar-collapse {
    background: #563D7C;
    width: 175px;
    position: absolute;
    right: 4px;
    top: 50px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #panel #advanced .navbar-collapse .dropdown-menu {
    background: #563D7C;
    top: 100% !important;
    left: 0 !important;
    display: none;
    min-width: 135px !important;
    text-align: left !important;
    padding-left: 0 !important;
    text-transform: none !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu:before,
  #panel #advanced .navbar-collapse .dropdown-menu:after {
    display: none !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu li + li {
    border: none !important;
    box-shadow: none !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu li:before,
  #panel #advanced .navbar-collapse .dropdown-menu li:after {
    display: none !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu li a:before,
  #panel #advanced .navbar-collapse .dropdown-menu li a:after {
    display: none !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu li a {
    text-transform: none !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    padding: 7px 22px !important;
    box-shadow: none !important;
    border: none !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu li {
    border: none !important;
    box-shadow: none !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu li .pages li a {
    padding-left: 32px !important;
  }
  #panel #advanced .navbar-collapse.in {
    overflow-y: visible;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  #panel .bs-docs-nav .navbar-header .navbar-toggle {
    display: none !important;
  }
}
@media (max-width: 767px) and (max-width: 425px) {
  #panel #advanced .navbar-collapse {
    width: 135px;
  }
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    display: block !important;
  }
  .navbar-nav .open .dropdown-menu li a {
    margin-left: 0 !important;
  }
  .navbar-nav .open .dropdown-menu ul.pages {
    padding-left: 0px !important;
  }
  .navbar-nav .open .dropdown-menu a {
    padding-left: 12px !important;
  }
  .navbar-nav .open .dropdown-menu li + li {
    border: none !important;
    box-shadow: none !important;
  }
  .navbar-nav .open .dropdown-menu li:before,
  .navbar-nav .open .dropdown-menu li:after {
    display: none !important;
  }
  .navbar-nav .open .dropdown-menu li a:before,
  .navbar-nav .open .dropdown-menu li a:after {
    display: none !important;
  }
  .navbar-nav .open .dropdown-menu li a {
    text-transform: none !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    box-shadow: none !important;
    border: none !important;
  }
  .navbar-nav .open .dropdown-menu li {
    border: none !important;
    box-shadow: none !important;
  }
}
@media (max-width: 767px) and (max-height: 550px) {
  #panel #advanced .navbar-collapse .dropdown-menu {
    font-size: 9px !important;
    position: absolute !important;
    background: #62458d !important;
    min-width: 135px !important;
    top: 0 !important;
    right: 100% !important;
    left: -100% !important;
    -moz-transition: 0.3s !important;
    -webkit-transition: 0.3s !important;
    -o-transition: 0.3s !important;
    transition: 0.3s !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu li a {
    padding-left: 15px !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu a {
    padding-left: 12px !important;
  }
  #panel #advanced .navbar-collapse .dropdown-menu ul a {
    padding-left: 5px;
  }
}
